$tan: #B68D40;
$cream: #F4EBD0;
$charcoal: #122620;
$gold: #D6AD60;

$light-dark: #353436;
$dark: #161617;
$neutral-dark: #232224;

$neutral-white: #fefbff;
$light-white: #ffffff;

$red-normal: #D94140;
$red-dark: #b42b2b;
$red-light: #d34040;